<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../head')  %>
    <title></title>
  </head>
  <body>
    <div id="content">
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../../Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>
        <div class="container pt-3 mb-3">
          <div class="container pt-3 mb-3" style= "width : 50%; float: left;">
            <div id="map" style="width:100%; height: 70vh;"></div>
          </div>
          <div class="container pt-3 mb-3" style= "width : 50%; height: 80vh;float:right;">
            <table class = "table table-bordered">
              <div  id = "image_container">
              </div>
              <!-- <div class="jumbotron text-center">
                <h2>Warehouse details</h2>
              </div> -->
              <tbody>
                <tr>
                  <th style = "width : 20%">Name</th>
                  <td id ="whName"></td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td id = "whAddress"></td>
                </tr>
                <tr>
                  <th>Floor area</th>
                  <td id = "whFloorArea"> m<sup>2</sup></td>
                </tr>
                <tr>
                  <th>Useable area</th>
                  <td id = "whUseableArea"> m<sup>2</sup></td>
                </tr>
                <tr>
                  <th>Price per area</th>
                  <td id = "whPrice"></td>
                </tr>
                <tr>
                  <th>Comment</th>
                  <td id = whInfoComment></td>
                  <td id = "whID" style="display: none"></td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-warning btn-lg btn-block" data-toggle="collapse" data-target="#inquire">Inquire</button>

            <div id="inquire" class="collapse">
              사용할 면적 <input type ="text" id="area"/>
              <button  type="submit" class="btn btn-primary" id="bu">submit</button>
            </div>

          </div>
        </div>
      <p id = "items" style="display: none"><%=items%></p>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZcDJ6hvLaTFGso4BqnNoKl_m_ot7-4g&callback=initMap&region=kr"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script>
        var map;
        var i = 0;
        var markers = [];
        function createImage(objImageInfo){
          var strDOM = "";
         for( image in objImageInfo){
            strDOM+=`<div class  = "image_panel">`;
            strDOM+=`<img src="${objImageInfo[image]["url"]}">`;
            strDOM+=`</div>`
          }
          document.getElementById("image_container").innerHTML = strDOM;
        }
        function initMap() {
          var daegu = { lat: 35.87222 ,lng: 128.60250 };
          var items = JSON.parse(document.getElementById("items").innerText);
          map = new google.maps.Map(
            document.getElementById('map'), {
              zoom: 12,
              center: daegu
          });
          for(key in items){
              markers[i] = new google.maps.Marker({
              position: {lat : items[key].latitude, lng: items[key].longitude},
              map: map,
            });
            markers[i].addListener('click', function(){
              var k = 'item'+markers.indexOf(this);
              $.ajax({
                  url: '/Buyer/FindWH/FindImage',
                  type: 'POST',
                  data:{'warehouseID':items[k].warehouseID},
                  dataType : 'json',
                  success : function(data){
                      createImage(data)
                  }
              })
              map.setCenter(this.getPosition());
              $("#whID").html(items[k]['warehouseID']);
              $("#whName").html(items[k]['warehouseName']);
              $("#whAddress").html(items[k]['address']);
              $("#whFloorArea").html(items[k]['floorArea']);
              $("#whUseableArea").html(items[k]['useableArea']);
              $("#whPrice").html(items[k]['price']);
              $("#whInfoComment").html(items[k]['infoComment']);
            });
            i++;
          }
        }

        $('#bu').click(function() {
            console.log(document.getElementById("whID").innerText);
            let useableArea = $('#whUseableArea').val()
            let wantArea = $('#area').val()
            if(useableArea>wantArea){
              alert("사용공유면적보다 큰 면적을 신청하였습니다. 다시 신청해 주세요!");
              return;
            }
            $.ajax({
                  url: '/Buyer/FindWH/Inquire',
                  dataType: 'json',
                  type: 'POST',
                  data: {
                    warehouseID: document.getElementById("whID").innerText,
                    area: $('#area').val()
                  },
                  success:function(data){
                if(data==true){
                  alert("창고공유를 신청하였습니다.");
                  window.location.href = "/Buyer/MyWarehouse";
                }
                else{
                  alert("에러가 발생했습니다.");
                  window.location.href = "/Buyer/FindWH";
                }
              }
            });
        });
      </script>
    </div>
    <div class="overlay"></div>
  </body>
</html>
