<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../head')  %>
    <title></title>
  </head>
  <body>
    <div id="content">
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../../Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>
        <div class="container pt-3 mb-3">
          <div class="container pt-3 mb-3" style= "width : 50%; float: left;">
            <div id="map" style="width:100%; height: 70vh;"></div>
          </div>
          <div class="container pt-3 mb-3" style= "width : 50%; height: 80vh;float:right;">
            <table class = "table table-bordered">
              <div class="jumbotron text-center">
                <h2>Warehouse details</h2>
              </div>
              <tbody>
                <tr>
                  <th style = "width : 20%">Name</th>
                  <td id ="whName"></td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td id = "whAddress"></td>
                </tr>
                <tr>
                  <th>Floor area</th>
                  <td id = "whFloorArea"> m<sup>2</sup></td>
                </tr>
                <tr>
                  <th>Useable area</th>
                  <td id = whUseableArea> m<sup>2</sup></td>
                </tr>
                <tr>
                  <th>Comment</th>
                  <td id = whInfoComment></td>
                </tr>
              </tbody>
            </table>
            <button type="button" class="btn btn-warning btn-lg btn-block">Inquire</button>
          </div>
        </div>

      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZcDJ6hvLaTFGso4BqnNoKl_m_ot7-4g&callback=initMap&region=kr"></script>
      <script>
        var map;
        var i = 0;
        var markers = [];
        var items = { item0: {name: 'Center wh', address :'daegu 1street 27', floorArea: 100, useableArea: 53, lat: 35.87222, lng: 128.60250},
                      item1: {name: 'Banwol wh', address :'bw 83street 7', floorArea: 200, useableArea: 200, lat: 35.865514, lng: 128.593458},
                      item2: {name: 'Duryu wh', address :'dr 343street 222', floorArea: 150, useableArea: 30, lat: 35.849752, lng: 128.561702},
                      item3: {name: 'Bisan wh', address :'bs 1street 222', floorArea: 1000, useableArea: 700, lat: 35.887560, lng: 128.551989},
                      item4: {name: 'Gold wh', address :'GG 123street 222', floorArea: 1000, useableArea: 500, lat: 35.841477, lng: 128.624990},
                      item5: {name: 'Outside wh', address :'bc 1street 217', floorArea: 500, useableArea: 450, lat: 35.859203, lng: 128.389916}};

        function initMap() {
          var daegu = { lat: 35.87222 ,lng: 128.60250 };
          map = new google.maps.Map(
            document.getElementById('map'), {
              zoom: 12,
              center: daegu
          });
          for(key in items){
            markers[i] = new google.maps.Marker({
              position: {lat : items[key].lat, lng: items[key].lng},
              map: map,
            });
            markers[i].addListener('click', function(){
              map.setCenter(this.getPosition());

              var k = 'item'+markers.indexOf(this);
              $("#whName").html(items[k]['name']);
              $("#whAddress").html(items[k]['address']);
              $("#whFloorArea").html(items[k]['floorArea']);
              $("#whUseableArea").html(items[k]['useableArea']);
              $("#whInfoComment").html(items[k]['infoComment']);
            });
            i++;
          }
        }
      </script>
    </div>
    <div class="overlay"></div>
  </body>
</html>
