<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../head')  %>
    <title></title>
  </head>
  <body>
    <div id="content">
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../../Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <form action="/Provider/EnrollWH" method="post" enctype="multipart/form-data" >
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Warehouse ID</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="warehouseID" name="warehouseID"value="warehouseID"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Warehouse Name</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="warehouseName"  name="warehouseName"value="warehouseName"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Warehouse Address</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="address" name="address" value="Address"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">latitude</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="latitude" name="latitude" value="latitude"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">longitude</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="longitude" name="longitude"value="longitude"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">landArea</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="landArea" name="landArea" value="landArea"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">floorArea</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="floorArea" name="floorArea" value="floorArea"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">infoComment</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="infoComment" name="infoComment" value="infoComment"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">etcComment</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="etcComment" name="etcComment" value="etcComment"></div>
          </div>

          <!-- <div class="form-row">
            <label class="col-sm-2 col-form-label">Fax Number</label>
            <div class="col-md-2 my-1">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select mr-sm-2" name="contactNumber1">
                <option selected>Fax Number</option>
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="016">016</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" name="contactNumber2" class="form-email form-control" id="contactNumber2 ">
            </div>
            <div class="col-md-2">
              <input type="text" name="contactNumber3" class="form-email form-control" id="contactNumber3 ">
            </div>
          </div> -->

          <div class="form-group row">
            <input type='file' id='profile_img' name='profile_img' accept='image/jpg, image/png, image/jpeg' />
          </div>

          <div class="button">
            <input type="submit" value = "Submit">
          </div>
        </form>
      </div>
    </div>
    <div class="overlay"></div>
  </body>
</html>
