<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../head')  %>
    <title></title>
  </head>
  <body>
    <div id="content">
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../../Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <form action="/Provider/Enroll/Submit" method="post" encType='multipart/form-data'>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company Name</label>
            <div class="col-sm-10"><input type="text" class="form-control" name="company_name" value="Company Name"></div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company Register Number</label>
            <div class="col-sm-10"><input type="password" class="form-control" placeholder="Company Register Number"></div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company Kind</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">eeeee</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">2
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Representative</label>
            <div class="col-sm-10"><input type="password" class="form-control" placeholder="Representative"></div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Homepage Address</label>
            <div class="col-sm-10"><input type="password" class="form-control" placeholder="Homepage Address"></div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Number of employees</label>
            <div class="col-sm-10"><input type="password" class="form-control" placeholder="Number of employees"></div>
          </div>

          <div class="form-row">
            <label class="col-sm-2 col-form-label">Number of employees</label>
            <div class="col-md-2 my-1">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select mr-sm-2" name="contactNumber1">
                <option selected>Number</option>
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="016">016</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" name="contactNumber2" class="form-email form-control" id="contactNumber2 ">
            </div>
            <div class="col-md-2">
              <input type="text" name="contactNumber3" class="form-email form-control" id="contactNumber3 ">
            </div>
          </div>

          <div class="form-row">
            <label class="col-sm-2 col-form-label">Fax Number</label>
            <div class="col-md-2 my-1">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select mr-sm-2" name="contactNumber1">
                <option selected>Fax Number</option>
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="016">016</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" name="contactNumber2" class="form-email form-control" id="contactNumber2 ">
            </div>
            <div class="col-md-2">
              <input type="text" name="contactNumber3" class="form-email form-control" id="contactNumber3 ">
            </div>
          </div>

          <div class="form-group row">
            <input type='file' name='profile_img' accept='image/jpg, image/png, image/jpeg' />
          </div>

          <div class="button">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="overlay"></div>
  </body>
</html>
