<!DOCTYPE html>
<html>
  <head>
    <%- include('head')  %>
  </head>
  <body class="index-page sidebar-collapse">
     <%- include('nav_Bar') %>
      <%
         var sess = session;
      %>
      <div class="wrapper">
        <div class="page-header clear-filter" filter-color="main_filter">
          <div class="page-header-image" data-parallax="true" style="background-image:url('./Image/home_Main.jpg');"></div>
          <div class="container">
            <div class="content-center brand">
              <img class="n-logo" src="./Image/home_Logo.png" alt="">
              <h1 class="h1-seo">Autoinven.</h1>
              <h3>Connect to the Global Automotive Industry.</h3>
                            <h3>Connect to the Global Automotive Industry.</h3>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
