<!DOCTYPE html>
<html>
  <head>
    <%- include('head')  %>
  </head>
  <body class="index-page sidebar-collapse">
     <%- include('nav') %>
      <%
         var sess = session;
      %>
  </body>
</html>
