<div class="left_Sidebar">
    <h3>Bootstrap Sidebar</h3>
    <ul class="list-unstyled components">
      <%if(session.nickname){%>
        <%if(session.type == 'admin'){%>
          subject to change
        <%}else if(session.type == 'buyer'){%>
          <li class="side-item"><a href="/Buyer/Description" class="side-link">Description</a></li>
          <li class="side-item"><a href="/Buyer/FindWH" class="side-link">Find</a></li>
        <%}else if(session.type == 'provider'){%>
          <li class="side-item"><a href="/Provider/Description" class="side-link">Description</a></li>
          <li class="side-item"><a href="/Provider/EnrollWH" class="side-link">EnrollWH</a></li>
        <%}%>
      <%}%>
    </ul>
</div>
