<html>
    <body>
        <div>
            <p>following number is the register code you should use it to register member!</p>
            <h2><a href = "http://13.125.153.38:5000/PROOF">인증확인</a></h2>
        </div>
    </body>
</html>